# 100 pandas puzzles

Inspired by [100 Numpy exerises](https://github.com/rougier/numpy-100), here are 100* short puzzles for testing your knowledge of [pandas'](http://pandas.pydata.org/) power.

Since pandas is a large library with many different specialist features and functions, these excercises focus mainly on the fundamentals of manipulating data (indexing, grouping, aggregating, cleaning), making use of the core DataFrame and Series objects. 

Many of the excerises here are stright-forward in that the solutions require no more than a few lines of code (in pandas or NumPy... don't go using pure Python or Cython!). Choosing the right methods and following best practices is the underlying goal.

The exercises are loosely divided in sections. Each section has a difficulty rating; these ratings are subjective, of course, but should be a seen as a rough guide as to how inventive the required solution is.

If you're just starting out with pandas and you are looking for some other resources, the official documentation  is very extensive. In particular, some good places get a broader overview of pandas are...

- [10 minutes to pandas](http://pandas.pydata.org/pandas-docs/stable/10min.html)
- [pandas basics](http://pandas.pydata.org/pandas-docs/stable/basics.html)
- [tutorials](http://pandas.pydata.org/pandas-docs/stable/tutorials.html)
- [cookbook and idioms](http://pandas.pydata.org/pandas-docs/stable/cookbook.html#cookbook)

Enjoy the puzzles!

\* *the list of exercises is not yet complete! Pull requests or suggestions for additional exercises, corrections and improvements are welcomed.*

## Importing pandas

### Getting started and checking your pandas setup

Difficulty: *easy* 

**1.** Import pandas under the alias `pd`.

In [1]:
import pandas as pd
import numpy as np
import io

**2.** Print the version of pandas that has been imported.

In [19]:
pd.__version__

'2.3.3'

**3.** Print out all the *version* information of the libraries that are required by the pandas library.

In [ ]:
pd.show_versions()

## DataFrame basics

### A few of the fundamental routines for selecting, sorting, adding and aggregating data in DataFrames

Difficulty: *easy*

Note: remember to import numpy using:
```python
import numpy as np
```

Consider the following Python dictionary `data` and Python list `labels`:

``` python
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
```
(This is just some meaningless data I made up with the theme of animals and trips to a vet.)

**4.** Create a DataFrame `df` from this dictionary `data` which has the index `labels`.

In [2]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(data=data, index=labels, columns=None, copy=False, dtype=None)

**5.** Display a summary of the basic information about this DataFrame and its data (*hint: there is a single method that can be called on the DataFrame*).

In [5]:
# let's create a buffer for the info method
buffer = io.StringIO()

In [6]:
df.info(memory_usage='deep', buf=buffer)
df_information = buffer.getvalue()

In [7]:
# let's check this out
print(df_information)

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, a to j
Data columns (total 4 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   animal    10 non-null     object
 1   age       8 non-null      float64
 2   visits    10 non-null     int64
 3   priority  10 non-null     object
dtypes: float64(1), int64(1), object(2)
memory usage: 1.7 KB

**6.** Return the first 3 rows of the DataFrame `df`.

In [ ]:
df.head(n=3)

**7.** Select just the 'animal' and 'age' columns from the DataFrame `df`.

In [ ]:
df.loc[:, ['animal', 'age']]

In [ ]:
# 2nd method
df.filter(items=['animal', 'age'], like=None, regex=None)

In [ ]:
# 3 rd method
df.iloc[:, :2]

In [ ]:
# 4 th method
df[['animal', 'age']]

**8.** Select the data in rows `[3, 4, 8]` *and* in columns `['animal', 'age']`.

In [ ]:
# let's check the index of our dataframe
df.index

In [ ]:
df.iloc[[3, 4, 8], [0, 1]]

In [ ]:
# 2nd method with loc
df.loc[df.index[[3, 4, 8]], ['animal', 'age']]

In [ ]:
# 3 rd method, we can also chain the method
df.iloc[[3, 4, 8]][['animal', 'age']]

In [ ]:
# or
df.loc[df.index[[3, 4, 8]]].iloc[:, :2]

**9.** Select only the rows where the number of visits is greater than 3.

In [ ]:
# let's check the final answer
any(df['visits'] > 3)

In [ ]:
# 1 st method
df.query(expr="visits > 3")

In [ ]:
# 2nd method
df.loc[df['visits'] > 3, :]

In [ ]:
# 3 rd method
df[df['visits'].apply(func=lambda x: x > 3)]

In [ ]:
# 4 th method
df[df['visits'] > 3]

In [ ]:
# finally
df[df.apply(func=lambda row: row['visits'] > 3, axis=1)]

**10.** Select the rows where the age is missing, i.e. it is `NaN`.

In [ ]:
# 1 st method
df[df['age'].isnull()]

In [ ]:
# 2nd method
df[df['age'].isna()]

In [ ]:
# 3 rd method
df.query(expr="age.isna()", inplace=False)

In [ ]:
# 4 th method
df.loc[df['age'].isna(), :]

In [ ]:
# 4 th method
# df[df.apply(func=lambda row: row['age'].isna(), axis=1)]

# let's write again the right code to do the job
df[df['age'].apply(func=lambda row: pd.isna(obj=row))]

In [ ]:

# this is another syntax to use for this
df[df.apply(func=lambda row: pd.isna(obj=row['age']), axis=1)]

**11.** Select the rows where the animal is a cat *and* the age is less than 3.

In [ ]:
# 1 st method
df.loc[(df['age'] < 3) & (df['animal'] == 'cat'), :]

In [ ]:
# 2 nd method
df.query(expr="age < 3 and animal == 'cat'", inplace=False)

In [ ]:
# 3 rd method
df[(df['age'] < 3) & (df['animal'] == 'cat')]

In [ ]:
# 4 th method
df[(df['age'].apply(func=lambda row: row < 3)) & (df['animal'].apply(func=lambda row: row == 'cat'))]

In [11]:
# let's try to use the method iterrows to solve this question
a = []
for ind, row in df.iterrows():
    if row['age'] < 3 and row['animal'] == 'cat':
        a.append(row)

print(pd.DataFrame(data=a))

  animal  age  visits priority
a    cat  2.5       1      yes
f    cat  2.0       3       no

In [ ]:
# let's check a little thing with the method iterrows
for index, series in df.iterrows():
    print(series, series.dtype)

In [18]:
# let's try to use the where method of pandas
df.where(cond=(df['age'] < 3) & (df['animal'] == 'cat'), other=np.nan, inplace=False).dropna(how='all', axis=0, subset=None, ignore_index=False, inplace=False)

  animal  age  visits priority
a    cat  2.5     NaN      yes
f    cat  2.0     3.0       no

In [14]:
df.loc['a', 'visits'] = np.nan

In [6]:
df.where(cond=(df['age'] < 3) & (df['animal'] == 'cat'), other=np.nan, axis=None, inplace=False)

  animal  age  visits priority
a    cat  2.5     1.0      yes
b    NaN  NaN     NaN      NaN
c    NaN  NaN     NaN      NaN
d    NaN  NaN     NaN      NaN
e    NaN  NaN     NaN      NaN
f    cat  2.0     3.0       no
g    NaN  NaN     NaN      NaN
h    NaN  NaN     NaN      NaN
i    NaN  NaN     NaN      NaN
j    NaN  NaN     NaN      NaN

In [12]:
df.head()

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no

In [ ]:
print(2 + 2)

In [12]:
# let's use also the method mask to do the same thing

df.mask(cond=(df['animal'] != 'cat') | (df['age'] >= 3),other=np.nan, inplace=False, axis=None, level=None).dropna(subset=None, inplace=False, how='all', ignore_index=False, axis=0)

  animal  age  visits priority
a    cat  2.5     1.0      yes
f    cat  2.0     3.0       no
h    cat  NaN     1.0      yes

In [11]:
# let's check a little thing with the function mask
df.mask(cond=(df['age'] >= 3) | (df['animal'] != 'cat'), other=np.nan, axis=None, inplace=False)

  animal  age  visits priority
a    cat  2.5     1.0      yes
b    NaN  NaN     NaN      NaN
c    NaN  NaN     NaN      NaN
d    NaN  NaN     NaN      NaN
e    NaN  NaN     NaN      NaN
f    cat  2.0     3.0       no
g    NaN  NaN     NaN      NaN
h    cat  NaN     1.0      yes
i    NaN  NaN     NaN      NaN
j    NaN  NaN     NaN      NaN

In [9]:
# here is the good syntax for this exercise
df.mask(cond=~((df['age'] < 3) & (df['animal'] == 'cat')), other=np.nan, inplace=False, axis=0).dropna(how='all', inplace=False, ignore_index=False, axis=0, subset=None)

  animal  age  visits priority
a    cat  2.5     1.0      yes
f    cat  2.0     3.0       no

**12.** Select the rows the age is between 2 and 4 (inclusive).

In [13]:
df.query(expr='2<= age < 4', inplace=False)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

In [17]:
# let's use the function where to do this job
df.where(cond=(2 <= df['age']) & (df['age'] <= 4), other=np.nan, axis=None, level=None).dropna(how='all', ignore_index=False, inplace=False, subset=None)

  animal  age  visits priority
a    cat  2.5     1.0      yes
b    cat  3.0     3.0      yes
f    cat  2.0     3.0       no
j    dog  3.0     1.0       no

In [18]:
# let's also use the method mask
df.mask(cond=~((df['age'] >= 2) & (df['age'] <= 4)), other=np.nan, axis=0, level=None, inplace=False).dropna(how='all', ignore_index=False, subset=None, inplace=False)

  animal  age  visits priority
a    cat  2.5     1.0      yes
b    cat  3.0     3.0      yes
f    cat  2.0     3.0       no
j    dog  3.0     1.0       no

In [19]:
# let's also use the rule of Morgan
df.mask(cond=((df['age'] <= 2) | (df['age'] >= 4)), other=np.nan, level=None, axis=None, inplace=False).dropna(how='all', inplace=False, ignore_index=False, subset=None)

  animal  age  visits priority
a    cat  2.5     1.0      yes
b    cat  3.0     3.0      yes
d    dog  NaN     3.0      yes
h    cat  NaN     1.0      yes
j    dog  3.0     1.0       no

In [21]:
# let's use the method between
df[df['age'].between(left=2, right=4, inclusive='both')]

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
f    cat  2.0       3       no
j    dog  3.0       1       no

**13.** Change the age in row 'f' to 1.5.

In [22]:
# let's go with the function loc
df.loc['f', 'age'] = 1.5

In [23]:
# let's check the result
df.loc['f', :]

animal      cat
age         1.5
visits        3
priority     no
Name: f, dtype: object

In [5]:
# let's also try to use the method iloc
df.iloc[df.index.tolist().index('f'), df.columns.tolist().index('age')] = 2.0

In [6]:
# let's now check if the result fit the expected result
df.loc['f', 'age']

np.float64(2.0)

In [8]:
# we can also do the following thing
df.iloc[df.index.get_loc(key='f'), df.columns.get_loc(key='age')] = 1.5

In [9]:
df.head(n=6)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  NaN       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no

In [10]:
# let's try to use the method get_level_values
df.iloc[df.index.get_level_values(level=0).tolist().index('f'), df.columns.tolist().index('age')]

np.float64(1.5)

**14.** Calculate the sum of all visits in `df` (i.e. find the total number of visits).

In [11]:
df['visits'].sum()

np.int64(19)

In [12]:
# 2nd method with apply
df['visits'].apply(func=lambda row: row).sum()

np.int64(19)

In [13]:
# another way to do the same thing
df['visits'].apply(func='sum')

np.int64(19)

In [14]:
# we can also do the following
np.sum(df['visits'])

np.int64(19)

In [15]:
# let's use also the built-in method of python
sum(df['visits'])

19

In [44]:
# let's go with the method apply
df['visits'].apply(func=lambda x: x).sum()

np.int64(19)

In [49]:
# we can also do
df['visits'].values.sum()

np.int64(19)

In [50]:
# finally let's use the function agg
df['visits'].agg(func='sum')

np.int64(19)

In [51]:
# or we can also do 
df['visits'].agg(func=np.sum)

C:\Users\alseiny.DIALLO\AppData\Local\Temp\ipykernel_24748\4056001894.py:2: FutureWarning: The provided callable <function sum at 0x00000296B9117B00> is currently using Series.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass the string "sum" instead.
  df['visits'].agg(func=np.sum)

np.int64(19)

**15.** Calculate the mean age for each different animal in `df`.

In [52]:
df.groupby(by='animal', observed=True, as_index=True, dropna=True, sort=False, level=None)['age'].mean()

animal
cat      2.333333
snake    2.500000
dog      5.000000
Name: age, dtype: float64

In [54]:
# 2nd method
df.groupby(by=pd.Grouper(key='animal'), observed=True, as_index=True, sort=True, level=None, dropna=True)['age'].mean()

animal
cat      2.333333
snake    2.500000
dog      5.000000
Name: age, dtype: float64

In [17]:
# let's go with the method agg
df.groupby(by='animal', observed=True, as_index=False, dropna=False, sort=True)['age'].mean()

  animal       age
0    cat  2.333333
1    dog  5.000000
2  snake  2.500000

In [18]:
# we can also use this syntax
df.groupby(by='animal', observed=True, as_index=False, sort=True, dropna=True)['age'].apply(func='mean')

  animal       age
0    cat  2.333333
1    dog  5.000000
2  snake  2.500000

In [22]:
df.groupby(by='animal', observed=True, sort=True, dropna=True, as_index=True)['age'].apply(func=lambda row: row.mean())

animal
cat      2.333333
dog      5.000000
snake    2.500000
Name: age, dtype: float64

**16.** Append a new row 'k' to `df` with your choice of values for each column. Then delete that row to return the original DataFrame.

In [23]:
columns_name = df.columns.tolist()

In [24]:
columns_name

['animal', 'age', 'visits', 'priority']

In [25]:
df.loc['k', :] = ['python', 20, 2, True]

In [26]:
# let's check the result
df.tail(n=1)

   animal   age  visits priority
k  python  20.0     2.0     True

In [27]:
# we can also use the function iloc
df.iloc[-1, :] = ['python', 20, 2, True]

In [28]:
df.tail(n=1)

   animal   age  visits priority
k  python  20.0     2.0     True

In [29]:
# now let's delete this line
df.drop(labels='k', inplace=True, axis=0, level=None)

In [ ]:
# we can also do the following
df.drop(index='k', inplace=True)

In [30]:
df.tail(n=1)

  animal  age  visits priority
j    dog  3.0     1.0       no

**17.** Count the number of each type of animal in `df`.

In [46]:
# 1 st method
df.groupby(by='animal', observed=True, as_index=False, dropna=True, sort=True).size().rename(columns={"animal": 'animal', "size":"Count"})

  animal  Count
0    cat      4
1    dog      4
2  snake      2

In [45]:
# le's also try to see the following
df.groupby(by='animal', sort=True, observed=True, as_index=True).size().rename('count')

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

In [47]:
# let's go with the go-to function for this kind of stuff
df.value_counts(subset='animal', dropna=True, normalize=False, sort=True, ascending=False)

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

In [48]:
# or we can also do this
df['animal'].value_counts(normalize=False, sort=True, ascending=False, dropna=True)

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

In [51]:
# or we can also do this
df.groupby(by='animal', sort=True, as_index=True, dropna=True, observed=True)['visits'].count().rename('count')

animal
cat      4
dog      4
snake    2
Name: count, dtype: int64

**18.** Sort `df` first by the values in the 'age' in *decending* order, then by the value in the 'visits' column in *ascending* order (so row `i` should be first, and row `d` should be last).

In [52]:
# okay let's go 
df.sort_values(kind='quicksort', ascending=(0, 1), ignore_index=False, axis=0, na_position='last', by=['age', 'visits'])

  animal  age  visits priority
i    dog  7.0     2.0       no
e    dog  5.0     2.0       no
g  snake  4.5     1.0       no
j    dog  3.0     1.0       no
b    cat  3.0     3.0      yes
a    cat  2.5     1.0      yes
f    cat  1.5     3.0       no
c  snake  0.5     2.0       no
h    cat  NaN     1.0      yes
d    dog  NaN     3.0      yes

**19.** The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be `True` and 'no' should be `False`.

In [4]:
# let's check the unique value in the priority column
df['priority'].unique().tolist()

['yes', 'no']

In [5]:
# solution 1
df['priority'] = df['priority'].map(arg={'yes': True, 'no': False})

In [ ]:
# now let's check the rsult
df.priority.unique().tolist()

[True, False]

In [ ]:
# okay let's go with the method replace
# If i don't use the astype method I will get an error in my code !
df['priority'].astype(dtype='bool').replace({'yes': True, 'no': False})

a    True
b    True
c    True
d    True
e    True
f    True
g    True
h    True
i    True
j    True
Name: priority, dtype: bool

In [12]:
# we can also do the following
df['priority'].apply(func=lambda row: True if row == 'yes' else (False if row == 'no' else None)).infer_objects(copy=False)

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

In [13]:
# let's also go with the lambda alternative with the method apply
df['priority'].apply(func=lambda x: True if x == 'yes' else False)

a     True
b     True
c    False
d     True
e    False
f    False
g    False
h     True
i    False
j    False
Name: priority, dtype: bool

**20.** In the 'animal' column, change the 'snake' entries to 'python'.

In [14]:
# let's check the data in the colmnn animal
df['animal'].unique().tolist()

['cat', 'snake', 'dog']

In [17]:
# let's do it more professionally
all(df['animal'].str.islower())

True

In [19]:
all(df['animal'].str.isupper())

False

In [20]:
# we can also use this syntax
df['animal'].str.islower().all()

np.True_

In [ ]:
df['priority'].map(arg={'snake': 'python'})

In [22]:
# or we can do with any worries
df['priority'].replace({'snake': 'python'})

a    yes
b    yes
c     no
d    yes
e     no
f     no
g     no
h    yes
i     no
j     no
Name: priority, dtype: object

In [26]:
# we can also do the following
df['animal'].replace(to_replace='snake', value='python', inplace=False)

a       cat
b       cat
c    python
d       dog
e       dog
f       cat
g    python
h       cat
i       dog
j       dog
Name: animal, dtype: object

In [ ]:
# let's use the method of the class str of pandas
df['animal'].str.replace(pat='snake', repl='python', regex=False, case=True)

a       cat
b       cat
c    python
d       dog
e       dog
f       cat
g    python
h       cat
i       dog
j       dog
Name: animal, dtype: object

**21.** For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (*hint: use a pivot table*).

In [31]:
# first method
df.pivot_table(index='animal', columns='visits', values='age', aggfunc='mean', margins=False, margins_name=None, observed=True)

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
snake   4.5  0.5  NaN

In [3]:
# lets' try to use the method pivot
# df.pivot(index='animal', columns='visits', values='age')

In [38]:
# third method with pd.crosstab
pd.crosstab(index=df['animal'], columns=df['visits'], aggfunc='mean', values=df['age'], margins=False, margins_name=None, dropna=True)

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
snake   4.5  0.5  NaN

In [7]:
# let's also use groupby to do the job
df.groupby(by=['animal', 'visits'], observed=True, as_index=True, dropna=True, sort=True, level=None)['age'].mean().unstack(level=-1)

visits    1    2    3
animal
cat     2.5  NaN  2.5
dog     3.0  6.0  NaN
snake   4.5  0.5  NaN

In [5]:
# let's now unstack this stuff
df.groupby(by=['animal', 'visits'], observed=True, as_index=True, dropna=True, level=None)['age'].mean().unstack(level='visits', fill_value=0, sort=True)

visits    1    2    3
animal
cat     2.5  0.0  2.5
dog     3.0  6.0  NaN
snake   4.5  0.5  0.0

## DataFrames: beyond the basics

### Slightly trickier: you may need to combine two or more methods to get the right answer

Difficulty: *medium*

The previous section was tour through some basic but essential DataFrame operations. Below are some ways that you might need to cut your data, but for which there is no single "out of the box" method.

**22.** You have a DataFrame `df` with a column 'A' of integers. For example:
```python
df = pd.DataFrame({'A': [1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 7]})
```

How do you filter out rows which contain the same integer as the row immediately above?

You should be left with a column containing the following values:

```python
1, 2, 3, 4, 5, 6, 7
```

**23.** Given a DataFrame of numeric values, say
```python
df = pd.DataFrame(np.random.random(size=(5, 3))) # a 5x3 frame of float values
```

how do you subtract the row mean from each element in the row?

**24.** Suppose you have DataFrame with 10 columns of real numbers, for example:

```python
df = pd.DataFrame(np.random.random(size=(5, 10)), columns=list('abcdefghij'))
```
Which column of numbers has the smallest sum?  Return that column's label.

**25.** How do you count how many unique rows a DataFrame has (i.e. ignore all rows that are duplicates)? As input, use a DataFrame of zeros and ones with 10 rows and 3 columns.

```python
df = pd.DataFrame(np.random.randint(0, 2, size=(10, 3)))
```

The next three puzzles are slightly harder.


**26.** In the cell below, you have a DataFrame `df` that consists of 10 columns of floating-point numbers. Exactly 5 entries in each row are NaN values. 

For each row of the DataFrame, find the *column* which contains the *third* NaN value.

You should return a Series of column labels: `e, c, d, h, d`

In [ ]:
nan = np.nan

data = [[0.04,  nan,  nan, 0.25,  nan, 0.43, 0.71, 0.51,  nan,  nan],
        [ nan,  nan,  nan, 0.04, 0.76,  nan,  nan, 0.67, 0.76, 0.16],
        [ nan,  nan, 0.5 ,  nan, 0.31, 0.4 ,  nan,  nan, 0.24, 0.01],
        [0.49,  nan,  nan, 0.62, 0.73, 0.26, 0.85,  nan,  nan,  nan],
        [ nan,  nan, 0.41,  nan, 0.05,  nan, 0.61,  nan, 0.48, 0.68]]

columns = list('abcdefghij')

df = pd.DataFrame(data, columns=columns)

# write a solution to the question here

**27.** A DataFrame has a column of groups 'grps' and and column of integer values 'vals': 

```python
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})
```
For each *group*, find the sum of the three greatest values. You should end up with the answer as follows:
```
grps
a    409
b    156
c    345
```

In [ ]:
df = pd.DataFrame({'grps': list('aaabbcaabcccbbc'), 
                   'vals': [12,345,3,1,45,14,4,52,54,23,235,21,57,3,87]})

# write a solution to the question here

**28.** The DataFrame `df` constructed below has two integer columns 'A' and 'B'. The values in 'A' are between 1 and 100 (inclusive). 

For each group of 10 consecutive integers in 'A' (i.e. `(0, 10]`, `(10, 20]`, ...), calculate the sum of the corresponding values in column 'B'.

The answer should be a Series as follows:

```
A
(0, 10]      635
(10, 20]     360
(20, 30]     315
(30, 40]     306
(40, 50]     750
(50, 60]     284
(60, 70]     424
(70, 80]     526
(80, 90]     835
(90, 100]    852
```

In [ ]:
df = pd.DataFrame(np.random.RandomState(8765).randint(1, 101, size=(100, 2)), columns = ["A", "B"])

# write a solution to the question here

## DataFrames: harder problems 

### These might require a bit of thinking outside the box...

...but all are solvable using just the usual pandas/NumPy methods (and so avoid using explicit `for` loops).

Difficulty: *hard*

**29.** Consider a DataFrame `df` where there is an integer column 'X':
```python
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
```
For each value, count the difference back to the previous zero (or the start of the Series, whichever is closer). These values should therefore be 

```
[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]
```

Make this a new column 'Y'.

**30.** Consider the DataFrame constructed below which contains rows and columns of numerical data. 

Create a list of the column-row index locations of the 3 largest values in this DataFrame. In this case, the answer should be:
```
[(5, 7), (6, 4), (2, 5)]
```

In [ ]:
df = pd.DataFrame(np.random.RandomState(30).randint(1, 101, size=(8, 8)))

**31.** You are given the DataFrame below with a column of group IDs, 'grps', and a column of corresponding integer values, 'vals'.

```python
df = pd.DataFrame({"vals": np.random.RandomState(31).randint(-30, 30, size=15), 
                   "grps": np.random.RandomState(31).choice(["A", "B"], 15)})
```

Create a new column 'patched_values' which contains the same values as the 'vals' any negative values in 'vals' with the group mean:

```
    vals grps  patched_vals
0    -12    A          13.6
1     -7    B          28.0
2    -14    A          13.6
3      4    A           4.0
4     -7    A          13.6
5     28    B          28.0
6     -2    A          13.6
7     -1    A          13.6
8      8    A           8.0
9     -2    B          28.0
10    28    A          28.0
11    12    A          12.0
12    16    A          16.0
13   -24    A          13.6
14   -12    A          13.6
```

**32.** Implement a rolling mean over groups with window size 3, which ignores NaN value. For example consider the following DataFrame:

```python
>>> df = pd.DataFrame({'group': list('aabbabbbabab'),
                       'value': [1, 2, 3, np.nan, 2, 3, np.nan, 1, 7, 3, np.nan, 8]})
>>> df
   group  value
0      a    1.0
1      a    2.0
2      b    3.0
3      b    NaN
4      a    2.0
5      b    3.0
6      b    NaN
7      b    1.0
8      a    7.0
9      b    3.0
10     a    NaN
11     b    8.0
```
The goal is to compute the Series:

```
0     1.000000
1     1.500000
2     3.000000
3     3.000000
4     1.666667
5     3.000000
6     3.000000
7     2.000000
8     3.666667
9     2.000000
10    4.500000
11    4.000000
```
E.g. the first window of size three for group 'b' has values 3.0, NaN and 3.0 and occurs at row index 5. Instead of being NaN the value in the new column at this row index should be 3.0 (just the two non-NaN values are used to compute the mean (3+3)/2)

## Series and DatetimeIndex

### Exercises for creating and manipulating Series with datetime data

Difficulty: *easy/medium*

pandas is fantastic for working with dates and times. These puzzles explore some of this functionality.

**33.** Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of random numbers. Let's call this Series `s`.

**34.** Find the sum of the values in `s` for every Wednesday.

**35.** For each calendar month in `s`, find the mean of values.

**36.** For each group of four consecutive calendar months in `s`, find the date on which the highest value occurred.

**37.** Create a DateTimeIndex consisting of the third Thursday in each month for the years 2015 and 2016.

## Cleaning Data

### Making a DataFrame easier to work with

Difficulty: *easy/medium*

It happens all the time: someone gives you data containing malformed strings, Python, lists and missing data. How do you tidy it up so you can get on with the analysis?

Take this monstrosity as the DataFrame to use in the following puzzles:

```python
df = pd.DataFrame({'From_To': ['LoNDon_paris', 'MAdrid_miLAN', 'londON_StockhOlm', 
                               'Budapest_PaRis', 'Brussels_londOn'],
              'FlightNumber': [10045, np.nan, 10065, np.nan, 10085],
              'RecentDelays': [[23, 47], [], [24, 43, 87], [13], [67, 32]],
                   'Airline': ['KLM(!)', '<Air France> (12)', '(British Airways. )', 
                               '12. Air France', '"Swiss Air"']})
```
Formatted, it looks like this:

```
            From_To  FlightNumber  RecentDelays              Airline
0      LoNDon_paris       10045.0      [23, 47]               KLM(!)
1      MAdrid_miLAN           NaN            []    <Air France> (12)
2  londON_StockhOlm       10065.0  [24, 43, 87]  (British Airways. )
3    Budapest_PaRis           NaN          [13]       12. Air France
4   Brussels_londOn       10085.0      [67, 32]          "Swiss Air"
```


(It's some flight data I made up; it's not meant to be accurate in any way.)

**38.** Some values in the the **FlightNumber** column are missing (they are `NaN`). These numbers are meant to increase by 10 with each row so 10055 and 10075 need to be put in place. Modify `df` to fill in these missing numbers and make the column an integer column (instead of a float column).

**39.** The **From\_To** column would be better as two separate columns! Split each string on the underscore delimiter `_` to give a new temporary DataFrame called 'temp' with the correct values. Assign the correct column names 'From' and 'To' to this temporary DataFrame.

**40.** Notice how the capitalisation of the city names is all mixed up in this temporary DataFrame 'temp'. Standardise the strings so that only the first letter is uppercase (e.g. "londON" should become "London".)

**41.** Delete the **From_To** column from `df` and attach the temporary DataFrame 'temp' from the previous questions.

**42**. In the **Airline** column, you can see some extra puctuation and symbols have appeared around the airline names. Pull out just the airline name. E.g. `'(British Airways. )'` should become `'British Airways'`.

**43**. In the RecentDelays column, the values have been entered into the DataFrame as a list. We would like each first value in its own column, each second value in its own column, and so on. If there isn't an Nth value, the value should be NaN.

Expand the Series of lists into a DataFrame named `delays`, rename the columns `delay_1`, `delay_2`, etc. and replace the unwanted RecentDelays column in `df` with `delays`.

The DataFrame should look much better now.
```
   FlightNumber          Airline      From         To  delay_1  delay_2  delay_3
0         10045              KLM    London      Paris     23.0     47.0      NaN
1         10055       Air France    Madrid      Milan      NaN      NaN      NaN
2         10065  British Airways    London  Stockholm     24.0     43.0     87.0
3         10075       Air France  Budapest      Paris     13.0      NaN      NaN
4         10085        Swiss Air  Brussels     London     67.0     32.0      NaN
```

## Using MultiIndexes

### Go beyond flat DataFrames with additional index levels

Difficulty: *medium*

Previous exercises have seen us analysing data from DataFrames equipped with a single index level. However, pandas also gives you the possibilty of indexing your data using *multiple* levels. This is very much like adding new dimensions to a Series or a DataFrame. For example, a Series is 1D, but by using a MultiIndex with 2 levels we gain of much the same functionality as a 2D DataFrame.

The set of puzzles below explores how you might use multiple index levels to enhance data analysis.

To warm up, we'll look make a Series with two index levels.

**44**. Given the lists `letters = ['A', 'B', 'C']` and `numbers = list(range(10))`, construct a MultiIndex object from the product of the two lists. Use it to index a Series of random numbers. Call this Series `s`.

**45.** Check the index of `s` is lexicographically sorted (this is a necessary proprty for indexing to work correctly with a MultiIndex).

**46**. Select the labels `1`, `3` and `6` from the second level of the MultiIndexed Series.

**47**. Slice the Series `s`; slice up to label 'B' for the first level and from label 5 onwards for the second level.

**48**. Sum the values in `s` for each label in the first level (you should have Series giving you a total for labels A, B and C).

**49**. Suppose that `sum()` (and other methods) did not accept a `level` keyword argument. How else could you perform the equivalent of `s.sum(level=1)`?

**50**. Exchange the levels of the MultiIndex so we have an index of the form (letters, numbers). Is this new Series properly lexsorted? If not, sort it.

## Minesweeper

### Generate the numbers for safe squares in a Minesweeper grid

Difficulty: *medium* to *hard*

If you've ever used an older version of Windows, there's a good chance you've played with Minesweeper:
- https://en.wikipedia.org/wiki/Minesweeper_(video_game)


If you're not familiar with the game, imagine a grid of squares: some of these squares conceal a mine. If you click on a mine, you lose instantly. If you click on a safe square, you reveal a number telling you how many mines are found in the squares that are immediately adjacent. The aim of the game is to uncover all squares in the grid that do not contain a mine.

In this section, we'll make a DataFrame that contains the necessary data for a game of Minesweeper: coordinates of the squares, whether the square contains a mine and the number of mines found on adjacent squares.

**51**. Let's suppose we're playing Minesweeper on a 5 by 4 grid, i.e.
```
X = 5
Y = 4
```
To begin, generate a DataFrame `df` with two columns, `'x'` and `'y'` containing every coordinate for this grid. That is, the DataFrame should start:
```
   x  y
0  0  0
1  0  1
2  0  2
```

**52**. For this DataFrame `df`, create a new column of zeros (safe) and ones (mine). The probability of a mine occuring at each location should be 0.4.

**53**. Now create a new column for this DataFrame called `'adjacent'`. This column should contain the number of mines found on adjacent squares in the grid. 

(E.g. for the first row, which is the entry for the coordinate `(0, 0)`, count how many mines are found on the coordinates `(0, 1)`, `(1, 0)` and `(1, 1)`.)

**54**. For rows of the DataFrame that contain a mine, set the value in the `'adjacent'` column to NaN.

**55**. Finally, convert the DataFrame to grid of the adjacent mine counts: columns are the `x` coordinate, rows are the `y` coordinate.

## Plotting

### Visualize trends and patterns in data

Difficulty: *medium*

To really get a good understanding of the data contained in your DataFrame, it is often essential to create plots: if you're lucky, trends and anomalies will jump right out at you. This functionality is baked into pandas and the puzzles below explore some of what's possible with the library.

**56.** Pandas is highly integrated with the plotting library matplotlib, and makes plotting DataFrames very user-friendly! Plotting in a notebook environment usually makes use of the following boilerplate:

```python
import matplotlib.pyplot as plt
%matplotlib inline
plt.style.use('ggplot')
```

matplotlib is the plotting library which pandas' plotting functionality is built upon, and it is usually aliased to ```plt```.

```%matplotlib inline``` tells the notebook to show plots inline, instead of creating them in a separate window.  

```plt.style.use('ggplot')``` is a style theme that most people find agreeable, based upon the styling of R's ggplot package.

For starters, make a scatter plot of this random data, but use black X's instead of the default markers. 

```df = pd.DataFrame({"xs":[1,5,2,8,1], "ys":[4,2,1,9,6]})```

Consult the [documentation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.plot.html) if you get stuck!

**57.** Columns in your DataFrame can also be used to modify colors and sizes.  Bill has been keeping track of his performance at work over time, as well as how good he was feeling that day, and whether he had a cup of coffee in the morning.  Make a plot which incorporates all four features of this DataFrame.

(Hint:  If you're having trouble seeing the plot, try multiplying the Series which you choose to represent size by 10 or more)

*The chart doesn't have to be pretty: this isn't a course in data viz!*

```
df = pd.DataFrame({"productivity":[5,2,3,1,4,5,6,7,8,3,4,8,9],
                   "hours_in"    :[1,9,6,5,3,9,2,9,1,7,4,2,2],
                   "happiness"   :[2,1,3,2,3,1,2,3,1,2,2,1,3],
                   "caffienated" :[0,0,1,1,0,0,0,0,1,1,0,1,0]})
```

**58.**  What if we want to plot multiple things?  Pandas allows you to pass in a matplotlib *Axis* object for plots, and plots will also return an Axis object.

Make a bar plot of monthly revenue with a line plot of monthly advertising spending (numbers in millions)

```
df = pd.DataFrame({"revenue":[57,68,63,71,72,90,80,62,59,51,47,52],
                   "advertising":[2.1,1.9,2.7,3.0,3.6,3.2,2.7,2.4,1.8,1.6,1.3,1.9],
                   "month":range(12)
                  })
```

Now we're finally ready to create a candlestick chart, which is a very common tool used to analyze stock price data.  A candlestick chart shows the opening, closing, highest, and lowest price for a stock during a time window.  The color of the "candle" (the thick part of the bar) is green if the stock closed above its opening price, or red if below.

![Candlestick Example](img/candle.jpg)

This was initially designed to be a pandas plotting challenge, but it just so happens that this type of plot is just not feasible using pandas' methods.  If you are unfamiliar with matplotlib, we have provided a function that will plot the chart for you so long as you can use pandas to get the data into the correct format.

Your first step should be to get the data in the correct format using pandas' time-series grouping function.  We would like each candle to represent an hour's worth of data.  You can write your own aggregation function which returns the open/high/low/close, but pandas has a built-in which also does this.

The below cell contains helper functions.  Call ```day_stock_data()``` to generate a DataFrame containing the prices a hypothetical stock sold for, and the time the sale occurred.  Call ```plot_candlestick(df)``` on your properly aggregated and formatted stock data to print the candlestick chart.

In [ ]:
import numpy as np
def float_to_time(x):
    return str(int(x)) + ":" + str(int(x%1 * 60)).zfill(2) + ":" + str(int(x*60 % 1 * 60)).zfill(2)

def day_stock_data():
    #NYSE is open from 9:30 to 4:00
    time = 9.5
    price = 100
    results = [(float_to_time(time), price)]
    while time < 16:
        elapsed = np.random.exponential(.001)
        time += elapsed
        if time > 16:
            break
        price_diff = np.random.uniform(.999, 1.001)
        price *= price_diff
        results.append((float_to_time(time), price))
    
    
    df = pd.DataFrame(results, columns = ['time','price'])
    df.time = pd.to_datetime(df.time)
    return df

#Don't read me unless you get stuck!
def plot_candlestick(agg):
    """
    agg is a DataFrame which has a DatetimeIndex and five columns: ["open","high","low","close","color"]
    """
    fig, ax = plt.subplots()
    for time in agg.index:
        ax.plot([time.hour] * 2, agg.loc[time, ["high","low"]].values, color = "black")
        ax.plot([time.hour] * 2, agg.loc[time, ["open","close"]].values, color = agg.loc[time, "color"], linewidth = 10)

    ax.set_xlim((8,16))
    ax.set_ylabel("Price")
    ax.set_xlabel("Hour")
    ax.set_title("OHLC of Stock Value During Trading Day")
    plt.show()

**59.** Generate a day's worth of random stock data, and aggregate / reformat it so that it has hourly summaries of the opening, highest, lowest, and closing prices

**60.** Now that you have your properly-formatted data, try to plot it yourself as a candlestick chart.  Use the ```plot_candlestick(df)``` function above, or matplotlib's [```plot``` documentation](https://matplotlib.org/api/_as_gen/matplotlib.axes.Axes.plot.html) if you get stuck.

*More exercises to follow soon...*